@charset "utf-8";

@import "imports";

@import url('<link href="https://fonts.googleapis.com/css?family=Changa|Open+Sans:400,600|Raleway:400,700,900" rel="stylesheet">');

/* Typography */
$raleway: 'Raleway', Helvetica, Arial, sans-serif;
$changa: 'Changa', Helvetica, Arial, sans-serif;
$os: 'Open Sans', Helvetica, Arial sans-serif;

/* Colors */
$blue: #78c5b9;
$purple: hsl(280, 100%, 39%);
$red: hsl(358, 100%, 39%);
$orange: hsl(41, 100%, 39%);
$green: hsl(103, 39%, 62%);
$pink: hsl(322, 100%, 39%);
$yellow: hsl(60, 100%, 39%);
$dark-blue: hsl(250, 100%, 39%);

$light-grey: #efefef;
$grey: #ccc;
$dark-grey: #444;
$black: black;

// general
html {
  height: 100%;
}

body {
  padding: 120px 0 0 0;
  background-color: white;
  position: relative;
  height: 100%;
  transition: 200ms padding ease;
  &.notified {
    padding: 40px 0 0 0;
    .notification { max-height: 40px; }
  }
}

body.profile-page [data-page="profile"],
body.courses-page [data-page="courses"],
body.invites-page [data-page="invites"],
body.stats-page [data-page="stats"] {
    border-bottom: 3px solid $blue;
}

a {
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

.divider {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  &.vertical {
    width: 1px;
  }
  &.horizontal {
    height: 2px;
    width: 100%;
  }
  &.grey {
    background-color: #ccc;
  }
}

body.authenticated {
  > nav .sub-nav {
    display: block;
  }
  > main {
    padding-top: 30px;
  }
  > nav a {
    &[data-click="sessions.sign_out"] {
      display: inline-block;
    }
    &[data-page="login"] {
      display: none;
    }
  }
}

body > nav {
  background-color: $dark-grey;
  line-height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('/pattern-tile.png');
  background-repeat: repeat;

  .logo { 
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    outline: none;
    border: none;
    height: 60px;
    margin: 0;
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    width: 200px;
    background-position: top;
  }
  a { 
    vertical-align: top; 
    color: white;
    display: inline-block;
    margin: 0 50px 0 0;
    font-family: $raleway;
    font-weight: 400;
    font-size: 14px;
    &:hover { color: $blue; }
    &[data-page="courses"], &[data-click="sessions.sign_out"] {
      display: none;
    }
  }
  .divider {
    height: 60px;
    vertical-align: top;
    margin: 5px 30px 0 5px;
  }
  .container {
    float: right;
    display: inline-block;
    vertical-align: top;
  }
  .sub-nav {
    display: none;
    text-align: center;
    background-color: #f6f6f6;
    border-bottom: 3px solid #ccc;
    background-image: url('/pattern-ruffles.png');
    background-repeat: repeat;
    z-index: 1;
    height: 60px;
    line-height: 60px;
  }
  .row {
    display: inline-block;
    padding: 0 40px;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    border-botom: 3px solid transparent;
    &:hover {
      > span, i { color: $blue; }
    }
    > i { padding-right: 8px; color: $dark-grey; }
    > span {
      white-space: nowrap;
      font-family: $changa;
      font-size: 15px;
      font-weight: 600;
      color: $dark-grey;
    }
  }
}

.flag {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 70px;
  margin: 0 20px 0 0;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  &:hover {
    border-bottom: 2px solid $blue;
  }
  &.active {
    border-bottom: 2px solid $grey;
    &:hover {
      border-bottom: 2px solid $blue;
    }
  }
  &.nl { background-image: url('/flag-nl.png')}
  &.en { background-image: url('/flag-en.png')}
}


h2 {
  font-family: $os;
  font-size: 20px;
  color: $dark-grey;
  display: inline-block;
  margin: 0 10px 0 0;
}

label {
  font-family: $changa;
  font-weight: 500;
  padding: 0 8px;
  font-size: 14px;
  height: 26px;
  display: inline-block;
  margin: 0 0 5px 0;
  &.dark-grey { background-color: $dark-grey; color: #fff; }
}

button {
  outline: none;
  border: none;
  padding: 0 8px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  font-family: $changa;
  font-weight: 500;
  font-size: 14px; 
  &.primary {
    background-color: $blue;
    color: white;
    border-radius: 2px;
    font-family: $changa;
    font-size: 16px;
    margin: 10px;
  }
  &.blue { 
    background-color: $blue; 
    border: 1px solid lighten($blue, 10);
    color: white; 
    &:hover {
      background-color: lighten($blue, 5);
    }
  }
  &.circle { border-radius: 50%; width: 40px; height: 40px; line-height: 40px; text-align: center; }
  &.dark-grey { 
    background-color: $dark-grey; 
    color: white; 
    border: 1px solid lighten($dark-grey, 10);
    &:hover {
      background-color: lighten($dark-grey, 5);
    }
  }
}

input {
  background-color: $light-grey;
  border: none;
  outline: none;
  height: 40px;
  line-height: 40px;
  font-family: $raleway;
  font-weight: 700;
}

.side-nav {
  position: absolute;
  left: 0;
  border-right: 1px solid $grey;
  top: 73px;
  width: 200px;
  text-align: center;
  padding: 12px;
  h3 {
  	background-color: $blue;
  	color: white;
  	text-align: center;
  	font-family: $changa;
  	font-size: 14px;
  	font-weight: 500;
  	margin: 20px 0 0 0;
  }
  a { 
  	padding: 8px;
  	border-bottom: 2px solid transparent;
  	color: $dark-grey;
  	&:hover {
  		border-bottom: 2px solid $blue;
  	}
  	&[data-mode="cards"] { border-bottom: 2px solid $blue; }
  }
  input {
  	background-color: $light-grey;
  	width: 100%;
  	padding: 0 8px;
  	line-height: 40px;
  	height: 40px;
  	font-size: 12px;
  	font-family: $raleway;
  	font-weight: 400;
  }
  .managers {
  	text-align: left;
  	positon: relative;
  	margin-top: 5px;
  	> div {
  		font-family: $raleway;
  		font-size: 12px;
  		font-weight: 400;
  		cursor: pointer;
  		vertical-align: top;
  		display: block; 
  		padding: 0 5px;
  		height: 33px;
  		line-height: 33px;
  		overflow: hidden;
	    img {
		  width: 20px;
		  height: 20px;
		  border-radius: 50%;
		  margin-right: 2px;
		  display: inline-block;
		  margin-top: 5px;
	    }
	    span {
  		  vertical-align: top;
  		  display: inline-block;
	    }
  		&.active {
  			background-color: $grey;
  		}
  	}
  }
}

main {
  height: 100%;
  width: 100%;
  padding-top: 12px;
  position: relative;
  &[data-mode="lists"] a {
  		&[data-mode="lists"] { border-bottom: 2px solid $blue; }
  		&[data-mode="cards"] { border-bottom: 2px solid transparent; }
  }
  &[data-load="courses.html"] {
    padding: 96px 20px 20px 200px;
  }
  > input {
    width: 100%;
    background-color: darken($blue, 10);
    padding: 0 10px;
    font-size: 16px;
    position: absolute;
    top: 76px;
    z-index: 1;
    left: 0;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $light-grey;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $light-grey;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $light-grey;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $light-grey;
    }
  }
	
  > .content {
  	padding: 0 0 0 20px;
  }

}

.course {
  height: 200px;
  margin: 20px;
}

// course
[data-load="courses.render_one"] {
	margin: 20px 10px 0 0;
	position: relative;
	max-width: 500px;
	input {
		background-color: $light-grey;
		display: block;
		width: 100%;
		padding: 0 10px;
		font-size: 14px;
		position: absolute;
		bottom: 0;
		height: 40px;
		line-height: 40px;
		color: $dark-grey;
		border-bottom: 2px solid $grey;
	}
	.thumbnail {
		width: 200px;
		height: 150px;
		margin: 0 10px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		display: inline-block;
	}
	img {
		width: 30px;
		height: 30px;
		position: absolute;
		border-radius: 50%;
		border: 1px solid $grey;
		bottom: 5px;
		right: 5px;
		z-index: 1;
	}
	.course-nav {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-top: 3px;
		span {
			display: inline-block;
			font-family: $changa;
			font-size: 14px;
			font-weight: 500;
			border-radius: 2px;
			color: white;
			text-align: center;
			padding: 0 8px;
			margin: 0 0 10px;
			&.published {
				background-color: $green;
			}
			&.unpublished {
				background-color: $orange;
			}
		}
		a {
			font-family: $changa;
			font-size: 14px;
			display: inline-block;
			width: 70px;
			color: $dark-grey;
			&[data-modal="courses.view"]:before {
				font-family: FontAwesome;
				content: "\f06e";
				padding: 0 5px 0 0;
			}
			&[data-modal="courses.invite"]:before {
				font-family: FontAwesome;
				content: "\f003";
				padding: 0 5px 0 0;
			}
			&[data-modal="courses.stats"]:before {
				font-family: FontAwesome;
				content: "\f201";
				padding: 0 5px 0 0;
			}
			&:hover {
				color: $blue;
			}
		}
	}
}

body {
	&.modal-open {
		text-align: center;
		
		footer {display: none;}

		main {position: fixed;}

		#modal-container {display: block}

		.black-layer {
			background: rgba(#000, .9);
			display: block;
			max-height: 100vh;
		}
	}

}



.black-layer {
	position: fixed;
	z-index: 7;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0);
	max-height: 0;
	width: 100%;
	height: 100%;
	transition: .3s background linear;
}


#modal-container {
	display: none;
	position: absolute;
	z-index: 9;
	top: 12px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-bottom: 12px;
	width: calc(100vw - 24px);
	pointer-events: none;
}
	
.modal {
	position: relative;
	display: inline-block;
	border-radius: 3px;
	pointer-events: auto;
	min-width: 220px;

	i.close-modal {
		cursor: pointer;
		position: absolute;
		z-index: 1;
		top: 10px;
		right: 10px;
		font-size: 16px;
		padding: 10px;
		border-radius: 8px;
		transition: all .15s ease;
		color: #fff;
		background: rgba(#000,.1);
		
		&:hover {
			color: $black;
			background: rgba(#fff,.3);
		}
	}

	.content {
		position: relative;
		text-align: left;
		background: #fff;
		padding: 16px 24px;
		p {margin-bottom: 16px;}
	}

	.img {height: 240px;}

	h1 {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		margin-bottom: 5px;
		color: $black;
	}

	nav {
		display: inline-block;
		width: 100%;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		background: #fff;
		padding: 1px 20px 12px;

		.button {
			display: block;
			width: 100%;
			margin-top: 10px;
		}
	}
}
