@charset "utf-8";
@import url('<link href="https://fonts.googleapis.com/css?family=Changa|Open+Sans:400,600|Raleway:400,700,900" rel="stylesheet">');

/* Typography */
$raleway: 'Raleway', Helvetica, Arial, sans-serif;
$changa: 'Changa', Helvetica, Arial, sans-serif;
$os: 'Open Sans', Helvetica, Arial sans-serif;

/* Colors */
$blue: hsl(171, 40%, 62%);
$cyan: hsl(168, 75.7%, 42.0%);
$purple: hsl(280, 100%, 39%);
$red: hsl(358, 100%, 39%);
$orange: hsl(41, 100%, 39%);
$green: hsl(103, 39%, 62%);
$pink: hsl(322, 100%, 39%);
$yellow: hsl(60, 100%, 39%);
$dark-blue:hsl(223, 76%, 42%);

$light-grey: #efefef;
$grey: #ccc;
$dark-grey: #444;
$black: black;

@import "partials/reset";
@import "partials/aos";

// general
html {
  height: 100%;
  background-image: url("/white2.png");
}

body {
  padding: 74px 0 0 0;
  background-image: url("/white2.png");
  position: relative;
  height: 100%;
  transition: 200ms padding ease;
  &.home-page main { background-color: $dark-grey; }
  &.notified .notification { max-height: 40px; }
  &.authenticated {
  	&.ticket-page > nav a.ticket-client {
  		display: none;
  	}
    > nav a {
   	  margin: 0 30px 0 0;
	  &.auth-only {
	    display: inline-block;
	    height: 70px;
	  }
	  &[data-page="login"] {
	    display: none;
	  }
    } 
    .introduction { border: none !important; } 	
  }
  &.ticket-page > nav {
  	a[data-page="login"] {
	  display: none;
    }
    a.ticket-client {
    	display: inline-block;
    }
  }
  &.modal-open {
	text-align: center;

	footer {display: none;}

	main {position: fixed;}

	#modal-container {display: block}

	.black-layer {
		background: rgba(#000, .9);
		display: block;
		max-height: 100vh;
	}
  }
}

body.home-page [data-page="home"],
body.team-page [data-page="team"],
body.services-page [data-page="services"],
body.edit-page [data-page="courses"],
body.courses-page [data-page="courses"],
body.invites-page [data-page="invites"],
body.contact-page [data-page="contact"],
body.stats-page [data-page="stats"] {
    color: $cyan;
}



.line-header {
	border-bottom: 1px solid transparent;
	position: relative;
	display: block;

	&.white {
		border-color: white;
		margin: 40px 0 15px 0;
	}

	&.grey {
		border-color: $grey;
		margin: 30px 0 10px 0;
	}

	> img {
		width: 50px;
		height: 30px;
		overflow: hidden;
		padding: 0 10px;
		display: inline-block;
		transform: translateX(50%);
		position: absolute;
		right: 50%;
		overflow: hidden;
		bottom: -8px;
		border-radius: 4px;
		background-color: $dark-grey;
		background-image: url("/pattern-twill.png");
	}
	
	.action {
		font-family: $changa;
		font-size: 20px;
		cursor: pointer;
		position: absolute;
		bottom: -20px;
		left: 50%;
		height: 40px;
		background-color: white;
		padding: 0 10px;
		display: inline-block;
		transform: translateX(-50%);
		white-space: nowrap;
		&:hover {
			color: $cyan;
		}
		span {
			vertical-align: top;
		}
		> img {
			width: auto;
			background-color: transparent;
			background-image: none;
			right: -28px;
			top: 0;
			margin: 0;
			height: 30px;
		}
	}

}

a.ticket-client {
	display: none;
}

[data-modal="profile.html"] {

	.img-container {
		height: 70px;
		width: 45px;
		line-height: 70px;
		display: inline-block;
		position: relative;
		
	}

	img { 
		height: 40px; 
		width: 40px;
		position: absolute;
		left: 0;
		top: 15px;  
		display: inline-block; 
		border-radius: 2px;
		border: 1px solid white;
	}

	span { 
		vertical-align: top;
		display: inline-block;
	}

}

a {
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

.divider {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  &.vertical {
    width: 1px;
  }
  &.horizontal {
    height: 1px;
    width: 100%;
  }
  &.grey {
    background-color: #ccc;
  }
}

body > nav {
  background-color: #000;
  line-height: 74px;
  height: 74px;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  width: 100%;
  overflow: visible;
  overflow-x: hidden;
  z-index: 7;

  .logo { 
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    outline: none;
    border: none;
    height: 60px;
    margin: 0;
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    width: 200px;
    background-position: top;
  }
  a { 
    vertical-align: top; 
    color: white;
    display: inline-block;
    margin: 0 50px 0 0;
    font-family: $raleway;
    font-weight: 400;
    font-size: 14px;
    &:hover { color: $blue; }
    &.auth-only { display: none; }
  }
  .divider {
    height: 60px;
    vertical-align: top;
    margin: 5px 30px 0 0;
  }
  .container {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    vertical-align: top;
    height: 70px;
  	white-space: nowrap;
  	background: #000;
  }
  .row {
    display: inline-block;
    padding: 0 40px;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    border-botom: 3px solid transparent;
    &:hover {
      > span, i { color: $blue; }
    }
    > i { padding-right: 8px; color: $dark-grey; }
    > span {
      white-space: nowrap;
      font-family: $changa;
      font-size: 15px;
      font-weight: 600;
      color: $dark-grey;
    }
  }
}

.flag {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 70px;
  margin: 0 20px 0 0;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  &:hover {
    border-bottom: 2px solid $blue;
  }
  &.active {
    border-bottom: 2px solid $cyan;
    &:hover {
      border-bottom: 2px solid $cyan;
    }
  }
  &.nl { background-image: url('/flag-nl.png')}
  &.en { background-image: url('/flag-en.png')}
}


h2 {
  font-family: $os;
  font-size: 20px;
  color: $dark-grey;
  display: inline-block;
  margin: 0 10px 0 0;
}

h3 {
	font-family: $os;
	font-size: 14px;
	color: $dark-grey;
	display: inline-block;
}

label {
  font-family: $changa;
  font-weight: 500;
  padding: 0 8px;
  font-size: 14px;
  height: 26px;
  display: inline-block;
  margin: 0 0 5px 0;
  &.dark-grey { background-color: $dark-grey; color: #fff; }
  &.blue { background-color: $blue; color: white; }
  &.cyan { background-color: $cyan; color: white; }
}

button {
  outline: none;
  border: none;
  padding: 0 8px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  font-family: $changa;
  font-weight: 500;
  font-size: 14px; 
  &.primary {
    background-color: $blue;
    color: white;
    border-radius: 2px;
    font-family: $changa;
    font-size: 16px;
    margin: 10px;
  }
  &.cyan {
  	background-color: $cyan;
  	color: white;
  	float: right;
  	padding: 0 10px;
  }
  &.blue { 
    background-color: $blue; 
    border: 1px solid lighten($blue, 10);
    color: white; 
    &:hover {
      background-color: lighten($blue, 5);
    }
  }
  &.circle {
	  border-radius: 5px;
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	  font-size: 13px;
	  text-align: center;
  }
  &.dark-grey { 
    background-color: $dark-grey; 
    color: white; 
    border: 1px solid lighten($dark-grey, 10);
    &:hover {
      background-color: lighten($dark-grey, 5);
    }
  }
}

input {
  background-color: $light-grey;
  border: none;
  outline: none;
  height: 40px;
  line-height: 40px;
  font-family: $raleway;
  font-weight: 700;
  padding: 0 8px;
  &[type="submit"] {
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	background-color: $green;
  	color: white;
  	width: 100%;
  	cursor: pointer;
  	&:hover { background-color: lighten($green, 5); }
  }
}

body.authenticated.courses-page, body.authenticated.invites-page {
	.side-nav, main > .content { display: block; }
    .public-page { display: none; }
    main { padding: 0 0 0 200px; }
}

.side-nav {
  position: absolute;
  display: none;
  left: 0;
  top: 10px;
  width: 200px;
  text-align: center;
  padding: 0 15px;
  > header  {
  	margin: 40px 0 15px;
  }
  a { 
  	padding: 8px;
  	border-bottom: 2px solid transparent;
  	color: white;
  	margin: 0 10px 0 0;
  	&:hover {
  		border-bottom: 2px solid $blue;
  	}
  	&[data-mode="cards"] { border-bottom: 2px solid $blue; }
  }
  input {
  	background-color: rgba(255, 255, 255, 0.9);
  	width: 100%;
  	padding: 0 8px;
  	line-height: 30px;
  	height: 30px;
  	font-size: 12px;
  	font-family: $raleway;
  	font-weight: 400;
  }
  .managers, .clients, [data-load="courses.load_courses"] {
  	text-align: left;
  	positon: relative;
  	margin-top: 5px;
  	> div {
  		font-family: $raleway;
  		font-size: 12px;
  		font-weight: 400;
  		cursor: pointer;
  		vertical-align: top;
  		display: block; 
  		padding: 0 5px;
  		height: 33px;
  		line-height: 33px;
  		overflow: hidden;
	    img {
		  width: 20px;
		  height: 20px;
		  border-radius: 50%;
		  margin-right: 2px;
		  display: inline-block;
		  margin: 5px 5px 0 0;
		  border: 1px solid white;
	    }
	    span {
  		  vertical-align: top;
  		  display: inline-block;
  		  color: white;
	    }
  		&:hover {
  			border-bottom: 1px solid $cyan;
  		}
  		&.active {
  			border-bottom: 1px solid $cyan;
  		}
  	}
  }
}

main {
  height: 100%;
  width: 100%;
  position: relative;
  &[data-mode="lists"] a {
  		&[data-mode="lists"] { border-bottom: 2px solid $blue; }
  		&[data-mode="cards"] { border-bottom: 2px solid transparent; }
  }
  &[data-load="home.html"] {
  	padding: 0;
  	.home { background-size: cover; background-repeat: no-repeat; background-position: center center; }
  }
  &[data-load="team.html"] {
  	padding: 0;
  	.team { background-size: cover; background-repeat: no-repeat; background-position: center center; }
  }
  &[data-load="courses.html"] {
	background-color: $dark-grey;
	background-image: url("/pattern-twill.png");
    .content { display: none; }
  }
  &[data-load="stats.html"] {
    padding: 20px 20px 20px 200px;
  }
  &[data-load="invites.html"] {
	background-color: $dark-grey;
	background-image: url("/pattern-twill.png");
    padding: 0;
  }
  > input {
    width: 100%;
    background-color: darken($blue, 10);
    padding: 0 10px;
    font-size: 16px;
    position: absolute;
    top: 76px;
    z-index: 1;
    left: 0;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $light-grey;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $light-grey;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $light-grey;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $light-grey;
    }
  }
	
  > .content {
  	background-color: white;
  	height: 100%;
  	> nav {
  		background-color: $light-grey;
  		height: 50px;
  		text-align: center;
  		line-height: 50px;
  		a {
  			text-transform: uppercase;
  			font-family: $changa;
  			&:hover {
  				color: $cyan;
  			}
  		}
  	}
  }

}

[data-load="services.html"] {
	p {
		padding: 10px 0;
		font-family: $raleway;
		font-size: 14px;
  		line-height: 24px;
	}

	img {
		margin: 0;
	}
	section {
		overflow: hidden;
		&[data-index="0"], &[data-index="2"], &[data-index="4"] {
			img { float: left; margin: 0 20px 20px 0; }
		}
		&[data-index="1"], &[data-index="3"], &[data-index="5"] {
			background-color: $dark-grey;
			background-image: url("/pattern-twill.png");
			img { float: right; margin: 0 0 20px 20px; }
			h2, h3, p { color: white; }
		}
		&[data-index="5"] {
			text-align: center;
			padding: 10px 0 30px 0;
		}
	}
}

form {
	text-align: left;
	display: inline-block;
	label {
		width: 50px;
		display: inline-block;
		vertical-align: top;
		padding: 0;
		margin: 20px 0 0 0;
		font-family: $raleway;
		color: white;
		text-transform: uppercase;
	}
	input, textarea {
		width: 100%;
	}
	input {
		height: 40px;
	}
	textarea {
		height: 200px;
  		padding: 8px;
  		outline: none;
  		font-family: $raleway;
  		font-weight: 700;
	}
}

.social {
	background-color: #3e5b98;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin: 0 10px;
	&:hover {
		background-color: lighten(#3e5b98, 5);
	}

	&:before {
		content: "\f09a";
		font-family: FontAwesome;
		color: white;
		font-size: 20px;
	}
}

// home 
[data-load="home.html"], [data-load="team.html"] {
	positon: relative;
	padding: 0;

	.point {
		text-align: center;
		display: inline-block;
		vertical-align: top;
		img {
			display: inline-block;
			background-position: center center;
			max-width: 150px;
			margin: 0 0 10px 0;
		}
			
		p {
			color: white;
			font-size: 18px;
			display: inline-block;
			line-height: 30px;
			font-family: $raleway;
			font-weight: 400;
			vertical-align: top;
			padding: 10px 20px 0;
		}
	}

	img {
		background-size: contain;
		display: inline-block;
		
		&.team {
			float: left;
		}
		
		&.merel {
			float: right;
		}

		&.contact-photo {
			margin: 40px 20px 20px 20px;
			vertical-align: top;
		}

	}

	section {
		position: relative;
		overflow: hidden;
		height: auto;
		text-align: center;
		background-color: white;
		
		&[data-index="0"] {
			background-color: $cyan;
			background-image: url("/pattern-tile.png");
		}
		
		&[data-index="1"] {
			padding: 0 10px 30px;
		}
		
		&[data-index="2"] {
			padding: 10px 0 30px 0;
			background-color: $dark-grey;
			background-image: url("/pattern-twill.png");
		}
		
		&[data-index="3"] {
			text-align: center;
			background-color: white;
		}
		
		&[data-index="4"] {
			background-color: $dark-grey;
			background-image: url("/pattern-twill.png");
			padding: 20px 0 60px;
		}

		.text {
			position: absolute;
			bottom: 30%;
			left: 5%;
			text-align: left;
		}

		h1 {
			color: white;
			line-height: 80px;
			font-size: 60px;
			font-family: $changa;
		}

		h2 {
			margin: 0;
			padding: 0 0 5px 0;
			&.white {
				color: white;
			}
			&.grey {
				color: $dark-grey;
			}
			&[data-load="labels.home_share_page"] { color: $dark-grey; }
		}

		p {
			font-family: $raleway;
			font-size: 14px;
			line-height: 24px;
		}

		small {
			color: $light-grey;
			font-size: 30px;
			text-align: left;
			font-family: $changa;
			-webkit-text-stroke: 1px $grey;
		}

		button {
			font-family: $changa;
			font-size: 18px;
			color: white;
			line-height: 36px;
			padding: 0 10px;
			margin: 10px 0 0 0;
			background-color: $cyan;
			cursor: pointer;
			display: inline-block;
			&:hover {
				background-color: lighten($cyan, 5);
			}
		}
		
		.content {
			position: relative;
			overflow: hidden;
			max-width: 1400px;
			margin: 0 auto;
			text-align: left;
		}

		&.home { background-image: url('/photo-gym.jpg'); min-height: calc(100vh - 130px); }
		&.team { background-image: url('/photo-joris-merel-3.jpg'); min-height: calc(100vh - 130px);}

	}	

}

[data-load="contact.html"] {
	text-align: center;
	position: relative;
	background-image: url('/photo-gym.jpg');
	background-size: contain;

	.info {
		height: auto;
	}

	.container {
		background-color: $dark-grey;
		background-image: url("/pattern-twill.png");
		padding: 10px 0 30px 0;
	}

	.info, .contact {
		img { margin: 20px 0 0 0;}
	}

	section {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		position: relative;
	}
 
	.part {
		display: inline-block;
		width: 49%;
		position: relative;
	}

	.text {
		padding: 0 5px 0 5px;
	}

	small {
		font-family: $raleway;
		font-size: 14px;
		line-height: 28px;
		color: white;
	}

	.social-container {
		background-color: white;
		padding: 10px;
	  	text-align: center;
	  	position: absolute;
	  	top: -70px;
	  	left: 0;
	  	width: 100%;
	}

}


// ticket
main.ticket-mode {
	padding-right: 0;
	.block-options, .control-editor {
		display: none;
	}
}

// course
[data-load="courses.render_one"] {
	margin: 10px;
	position: relative;
	display: inline-block;
	white-space: nowrap;
	input[type="text"] {
		background-color: $light-grey;
		display: block;
		width: 100%;
		padding: 0 10px;
		font-size: 14px;
		position: absolute;
		bottom: 0;
		height: 40px;
		line-height: 40px;
		color: $dark-grey;
		border-bottom: 1px solid $dark-grey;
		-webkit-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.1);
		box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.1);
	}
	.thumbnail {
		width: 200px;
		height: 150px;
		margin: 0 10px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		display: inline-block;
		> input {
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}
	img {
		width: 30px;
		height: 30px;
		position: absolute;
		border-radius: 50%;
		border: 1px solid $grey;
		bottom: 5px;
		right: 5px;
		z-index: 1;
	}
	.course-nav {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-top: 3px;
		white-space: normal;
		span {
			display: inline-block;
			font-family: $changa;
			font-size: 14px;
			font-weight: 500;
			border-radius: 2px;
			color: white;
			text-align: center;
			padding: 0 8px;
			margin: 0 0 10px;
			&.published {
				background-color: $green;
			}
			&.unpublished {
				background-color: $orange;
			}
		}
		a {
			font-family: $changa;
			font-size: 14px;
			display: inline-block;
			width: 40%;
			margin-bottom: 10px;
			color: $dark-grey;
			&[data-click="courses.view"]:before {
				font-family: FontAwesome;
				content: "\f06e";
				padding: 0 5px 0 0;
			}
			&[data-modal="courses.invite"]:before {
				font-family: FontAwesome;
				content: "\f003";
				padding: 0 5px 0 0;
			}
			&[data-modal="courses.stats"]:before {
				font-family: FontAwesome;
				content: "\f201";
				padding: 0 5px 0 0;
			}
			&[data-modal="courses.delete"]:before {
				font-family: FontAwesome;
				content: "\f1f8";
				padding: 0 5px 0 0;
			}
			&:hover {
				color: $blue;
			}
		}
	}
}

.black-layer {
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0);
	max-height: 0;
	width: 100%;
	height: 100%;
	transition: .3s background linear;
}

#modal-container {
	display: none;
	position: absolute;
	z-index: 9;
	top: 12px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-bottom: 12px;
	width: calc(100vw - 24px);
	pointer-events: none;
}
	
.modal {
	position: relative;
	display: inline-block;
	border-radius: 3px;
	pointer-events: auto;
	min-width: 220px;
	&.profile-container .content { text-align: center; }

	i.close-modal {
		cursor: pointer;
		position: absolute;
		z-index: 1;
		top: 5px;
		right: 5px;
		font-size: 16px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		color: $dark-grey;
		text-align: center;
		font-style: normal;
		border-radius: 2px;
		&:before {
			content: "\f00d";
			font-family: fontAwesome;
		}
		&:hover {
			background: $light-grey;
		}
	}

	.content {
		position: relative;
		text-align: left;
		background: #fff;
		padding: 20px;
		p {margin-bottom: 16px;}
	}

	.avatar {
		width: 75px;
		height: 75px;
		display: inline-block;
		margin: 0 auto;
	}

	input {
		width: 100%;

	}

	a {
		display: inline-block;
		background-color: $red;
		color: white;
		padding: 0 8px;
		line-height: 30px;
		margin-top: 20px;
		font-family: $changa;
		font-size: 12px;
		border-radius: 4px;
	}

	h1 {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		margin-bottom: 5px;
		color: $black;
	}

	nav {
		display: inline-block;
		width: 100%;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		background: #fff;
		padding: 1px 20px 12px;

		.button {
			display: block;
			width: 100%;
			margin-top: 10px;
		}
	}
}

// ticket
[data-load="tickets.render_one"] {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 100px;
	line-height: 40px;
	background-color: $grey;
	margin: 10px;
	text-align: center;
	position: relative;
	span {
		font-family: $changa;
		font-size: 14px;
		display: block;
	}
}

#invite-block {
	max-height: 0;
	height: 100%;
	transition: 250ms all linear;
	position: relative;
	overflow: hidden;
	background-color: red;
	&[data-language="nl"] {
		.flag-container .nl { border-bottom: 2px solid $blue; }
	}
	&[data-language="en"] {
		.flag-container .en { border-bottom: 2px solid $blue; }
	}

	&.open {
		max-height: 120px;
		padding: 20px;
		overflow: visible;
	}

	.invite-course {
		white-space: nowrap;
		padding: 0 0 0 40px;
		line-height: 30px;
		font-family: $raleway;
		background-color: $grey;
		font-size: 12px;
		margin: 10px 0 0 0;
		position: relative;
		height: 36px;
		cursor: pointer;
		&:hover {
			background-color: lighten($grey, 5);
		}
		.lang{ width: 30px; position: absolute; right: 0; top: 0; display: inline-block; }
		.thumbnail-container {
			height: 36px;
			width: 36px;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
		}
		span { line-height: 36px; }
		img {
			height: 100%;
			width: 100%;
			padding: 5px;
			display: inline-block;
			background-size: contain;

		}
	}

	button {
		position: absolute;
		top: -50px;
		right: 0;
		background-color: $blue;
		color: white;
		&:hover {
			background-color: lighten($blue, 5);
		}
	}

	.content {
		overflow: hidden;
		padding: 10px 0 0 0;
		position: relative;
		border-top: 1px solid $grey;
		background-color: $light-grey;
	}

	> .divider {
		position: absolute;
		bottom: -6px;
		left: 0;
	}

	section {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		position: relative;
		padding: 0 10px;
	}

	h3 {
		font-family: $changa;
		font-size: 18px;
		color: $dark-grey;
		font-weight: 300;
	}

	form {
		text-align: left;
		padding: 10px;
	}

	i {
		color: $dark-grey;
		width: 35px;
		text-align: center;
		padding: 0 0 0 5px;
	}

	label {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  cursor: pointer;
    }

	input[type="radio"] {
		position: absolute;
		right: 0;
		top: 0;
		opacity: 0;
		z-index: -1;
		&:checked + div {
			background-color: red;
		}
	}

	input[type="text"] {
		background-color: $grey;
		font-family: $raleway;
		font-size: 12px;
		color: $dark-grey;
		width: 200px;
	}

	.flag-container {
		height: 40px;
		margin: 10px 0 0 0;
		display: inline-block;
		text-align: left;
		width: 100%;

		> i { vertical-align: top; padding: 5px 0 0 0; }
	}

	.lang {
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		display: inline-block;
		cursor: pointer;
		margin: 0 10px;
		background-position: center center;

		&.nl { background-image: url('/flag-nl.png')}
		&.en { background-image: url('/flag-en.png')}

	}
}

.excessive-padding {
	padding: 50px;
	display: inline-block;
}

.calender {
	min-height: 400px;
	background-color: $light-grey;
	margin: 0 0 20px 0;
}

// EDITOR

.block-tooltip {
  position: absolute;
  z-index: 9;
  padding: 10px 0 2px;
  opacity: 0;
  font-size: 0;
  &:hover {
	opacity: 1 !important;
	display: block !important;
  }
  &.fade-in {
	opacity: 1;
	transition: opacity 200ms ease;
  }
  &.is-array {

	  [data-tab="add"], [data-tab="delete"], [data-tab="correct"] {
	  	display: inline-block;
	  }
	  
  }
  > div {
	  background: rgba(255, 255, 255, 0.95);
	  border-radius: 2px;
	  color: #555;
	  transition: none;
  	  width: auto;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.44);
	  &:after, &:before {
		top: 100%;
		left: 18px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		margin-top: -2px;
	  }
	  &:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #ffffff;
		border-width: 7px;
		margin-left: -7px;
	  }
	  &:before {
		border-color: rgba(224, 224, 224, 0);
		border-top-color: #e0e0e0;
		border-width: 8px;
		margin-left: -8px;
	  }
	  &[data-tab="color"] {
	  	padding-top: 50px;
	  	.color-picker { display: block; }
	  	[data-tab="color"] { background: rgba(0,0,0,0.1); }
	  }
	  &[data-tab="link"] {
	  	.set-link { display: block; }
	  	&:after { border-top-color: #ddd; }
	  	[data-tab="link"], &:after { background: rgba(0,0,0,0.1); }
	  }
	  .set-link button {
	  	width: 100%;
	  	&:hover {
	  		background: #ccc;
	  		color: black;
	  	}
	  }
	  .color-picker {
	  	width: 100%;
	  	position: absolute;
	  	left: 0;
	  	top: 0;
	  	line-height: 0;
	  	display: none;
	  	b {
	  		display: inline-block;
			width: 15px;
			height: 15px;
			cursor: pointer;
			border-radius: 1px;
			&:hover {
				outline: 2px solid white;
				z-index: 1;
				position: relative;
			}
	  	}
	  }
	  [data-tab="add"], [data-tab="correct"], [data-tab="delete"] {
	  	display: none;
	  }
	  &
	  .set-link {
	  	display: none;
	  }
	  > i, span {
  	  	font-size: 14px;
		padding: 8px 10px;
		cursor: pointer;
		&:hover {
			background: rgba(0,0,0,0.05);
			color: black;
			i { color: white; }
		}
	  }
	  .color i {
		background-color: #b28f8f;
		border-radius: 50%;
		display: inline-block;
		width: 18px;
		height: 18px;
		font-size: 8px;
		color: rgba(255,255,255,0.9);
		text-align: center;
		line-height: 18px;
		vertical-align: top;
		margin-top: 6px;
	  }
  }
}

main.dropzone[data-load="edit.html"] {
	background: rgba(0,0,0,0.1);
	&::after {
		content: '+';
		position: absolute;
		color: white;
		left: 0;
		width: 100%;
		top: 100px;
		text-align: center;
		font-family: $changa;
		font-size: 60px;
		font-weight: bold;
		text-shadow: 0 0 2px rgba(0,0,0,0.3);
	}
}

.block {
	position: relative;
	min-height: 500px;
	&[data-answer="0"] .option[data-count="0"],
	&[data-answer="1"] .option[data-count="1"],
	&[data-answer="2"] .option[data-count="2"],
	&[data-answer="3"] .option[data-count="3"] {
		background-color: red;
	}
	.fa-cog:hover + .block-config,
	.block-config:hover {
		max-height: 400px;
	}
	.block-options {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 0;
		text-align: center;
		z-index: 5;
		white-space: nowrap;
	}
	.block-config {
	  display: block;
	  max-height: 0;
	  overflow: hidden;
	  transition: max-height 400ms ease;
	  position: absolute;
	  right: 0;
	  width: 200px;
	  background: $light-grey;
	  top: 41px;
	  font-size: 0;
	  padding: 0;
	  user-select: none;
  	  white-space: nowrap;
	  input {
		  display: inline-block;
		  width: 10%;
		  float: right;
		  clear: right;
		  z-index: 1;
		  position: relative;
		  vertical-align: top;
		  height: 26px;
		  margin-right: 10px;
	  }
	  label {
	  	width: 100%;
	  	vertical-align: top;
	  	line-height: 28px;
	  	text-align: left;
	  	margin: 0;
	  	cursor: pointer;
	  	color: #444;
	  	&:hover {
	  		color: black;
	  		background: rgba(0,0,0,0.2);
	  	}
	  }
	}

	&[data-key="blocks_points"] {
		background-color: $cyan;
		textarea {
			color: white;
		}
		img {
			width: 100%;
		}
	}

	&[data-key="blocks_points"] {
		padding: 80px 40px 20px;
		height: auto;
		text-align: center;
		position: relative;
  		font-size: 0;
		> section {
			width: 33%;
			max-width: 256px;
			display: inline-block;
			vertical-align: top;
			padding: 0 40px;
			text-align: left;
		}
		&[data-points="-1"] section {
			&[data-index="0"], &[data-index="1"], &[data-index="2"], &[data-index="3"], &[data-index="4"], &[data-index="5"] {
				display: none;
			}
		}
		&[data-points="0"] section {
			&[data-index="1"], &[data-index="2"], &[data-index="3"], &[data-index="4"], &[data-index="5"] {
				display: none;
			}
		}
		&[data-points="1"] section {
			&[data-index="2"], &[data-index="3"], &[data-index="4"], &[data-index="5"] {
				display: none;
			}
		}
		&[data-points="2"] section {
			&[data-index="3"], &[data-index="4"], &[data-index="5"] {
				display: none;
			}
		}
		&[data-points="3"] section {
			&[data-index="4"], &[data-index="5"] {
				display: none;
			}
		}
		&[data-points="4"] section {
			&[data-index="5"] {
				display: none;
			}
		}
		h1 {
			font-family: $changa;
			font-size: 100px;
			color: $dark-grey;
		}
		textarea {
			background: transparent;
			border: 0;
			position: relative;
			z-index: 3;
			resize: none;
			width: 100%;
			outline: 0;
			overflow: hidden;
			&[data-element="title"] {
				font-family: $changa;
				font-size: 30px;
				font-weight: bold;
				height: 40px;
				white-space: normal;
				display: inline-block;
				vertical-align: top;
				text-align: center;
			}
			&[data-element="text"] {
				font-family: $raleway;
				font-size: 16px;
				font-weight: 500;
				line-height: 30px;
				height: 180px;
				display: inline-block;
				padding: 10px 0 0 0;
				text-align: justify;
			}
		}
	}

	&[data-key="blocks_multiplechoice"] {
		background-color: white;
		padding: 50px;
		h2 {
			color: $dark-grey;
			font-size: 40px;
			padding-right: 150px;
		}
		.divider {
			height: 20px;
			display: block;
			background-color: $dark-grey;
			margin-bottom: 30px;
		}
		[data-load="editor.load_button_group"][data-correct="0"] .option:nth-child(1),
		[data-load="editor.load_button_group"][data-correct="1"] .option:nth-child(2),
		[data-load="editor.load_button_group"][data-correct="2"] .option:nth-child(3),
		[data-load="editor.load_button_group"][data-correct="3"] .option:nth-child(4) {
			background-color: red;
		}
		.option {
			display: inline-block;
			font-size: 40px;
			line-height: 50px;
			text-align: center;
			cursor: pointer;
			color: red;
			font-family: $cyan;
			vertical-align: top;
			background-color: $light-grey;
			border: gold;
			position: relative;
			margin: 10px;
			padding: 0 10px;
			text-align: center;
			border-radius: 5px;
		}
		.option label {
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 50px;
			color: $dark-grey;
			font-size: 30px;
			font-family: $changa;
		}
		textarea {
			color: $dark-grey;
			display: inline-block;
			vertical-align: top;
			background-color: transparent;
			color: $dark-grey;
			border: none;
			font-family: $raleway;
			font-size: 22px;
			line-height: 44px;
			outline: none;
			border-top: 1px solid $grey;
			&[data-load="editor.load_title"] {
				color: $dark-grey;
				font-size: 60px;
				font-family: $changa;
				display: block;
				width: 100%;
				height: auto;
				border: none;
			}
			&[data-load="editor.load_text"] {
				color: $dark-grey;
				font-size: 20px;
				font-family: $raleway;
				font-weight: 500;
				width: 100%;
				display: block;
				height: auto;
				border: none;
			}
			&[data-count="0"] {
				+label {
					content: "A";	
				}
			}
			&[data-count="1"] {
			}
		}
		img {
			width: 150px;
			height: 150px;
			position: absolute;
			top: 50px;
			right: 50px;
		}
	}

	&[data-key="blocks_video"] {
		padding: 80px 40px 20px;
		height: 500px;
		background-color: white;
		textarea {
			background: transparent;
			border: 0;
			position: relative;
			z-index: 3;
			resize: none;
			color: white;
			outline: 0;
			overflow: hidden;
			&[data-element="title"] {
				font-family: $changa;
				font-size: 40px;
				font-weight: bold;
				max-width: 43%;
				width: 100%;
				height: 60px;
				color: $dark-grey;
				white-space: normal;
				display: block;
				margin-top: 40px;
			}
			&[data-element="text"] {
				font-family: $raleway;
				font-size: 18px;
				font-weight: 500;
				line-height: 30px;
				max-width: 43%;
				width: 100%;
				height: 180px;
				display: inline-block;
				color: $dark-grey;
				padding: 10px 0 0 0;
				text-align: justify;
			}
		}
		[data-element="video"] {
			max-width: 50%;
			width: 100%;
			display: inline-block;
			z-index: 1;
  			position: absolute;
  			right: 50px;
  			top: 80px;
			img {
				height: 40px;
				background-size: cover;
				display: inline-block;
			}
			input {
				height: 40px;
				vertical-align: top;
				display: inline-block;
			}
			button {
				display: inline-block;
				vertical-align: top;
				background-color: $green;
				color: white;
				&:hover {
					background-color: lighten($green, 5);
				}
				&:before {
					content: "\f04b";
					font-family: fontAwesome;
				}
			}
			.player {
				margin-top: 10px;
				width: 100%;
				min-height: 300px;
				display: block;
				position: relative;
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	
	&[data-key="blocks_test"] {
		padding: 120px 40px 20px;
		height: 500px;
		textarea {
			background: transparent;
			border: 0;
			position: relative;
			z-index: 3;
			resize: none;
			font-family: $changa;
			color: white;
			outline: 0;
			overflow: hidden;
			&[data-element="title"] {
				font-size: 40px;
				font-weight: bold;
				width: 100%;
				height: 60px;
			}
			&[data-element="text"] {
				font-size: 18px;
				font-weight: bold;
				line-height: 30px;
				width: 100%;
				height: 180px;
				max-width: 500px;
				display: block;
			}
			&[data-element="button_primary"] {
				background-color: #FF5722;
				text-align: center;
				height: 50px;
				line-height: 50px;
				font-size: 16px;
				font-weight: bold;
				width: 160px;
			}
			&[data-element="button_secondary"] {
				background-color: transparent;
				border: 2px solid white;
				text-align: center;
				height: 50px;
				line-height: 50px;
				font-size: 16px;
				font-weight: bold;
				width: 160px;
			}
		}
		[data-element="background"], [data-element="overlay"]{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			font-size: 0;
		}
		[data-element="background"] {
			background-image: url(/photo-joris-merel-1.jpg);
			background-size: cover;
			z-index: 1;
		}
		[data-element="overlay"] {
			background: rgba(0,0,0,0.3);
			z-index: 2;
		}
	}

}

[data-load="edit.html"] {
	position: relative;
	padding-right: 200px;

	[data-device="desktop"] .fa-desktop,
	[data-device="mobile"] .fa-mobile,
	[data-published="no"] .fa-cloud-download,
	[data-published="yes"] .fa-cloud-upload {
		display: none;
	}

	.control-btn {
	  font-size: 16px;
	  display: inline-block;
	  position: relative;
	  width: 50px;
	  height: 41px;
	  background: #aaa;
	  color: #eee;
	  line-height: 41px;
	  &.fa-save:hover { background: #4CAF50; }
	  &.fa-trash:hover { background: #f44336; }
	  &.fa-cog:hover, &.fa-cloud-download:hover { background: #2196f3; }
	  &:hover {
		color: #fff;
		background: #999;
	  }
	  &::before {
	  	position: relative;
	  	top: -5px;
	  }
	  &::after {
	  	content: attr(data-title);
	  	font-size: 9px;
	  	display: block;
	  	position: absolute;
	  	left: 0;
	  	bottom: 3px;
	  	line-height: 12px;
	  	width: 100%;
	  	text-align: center;
	  	font-family: $changa;
	  	color: white;
	  }
	}

	.control-editor {
		width: 200px;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		background: #999;
		text-align: center;
		user-select: none;
		z-index: 6;
		font-size: 0;
  		padding-top: 70px;
	}
	
	[data-load="blocks.load"] {
		text-align: center;
		user-select: none;
		background: $dark-grey;
		height: 100%;
		> div {
			width: 176px;
			height: 100px;
			line-height: 100px;
			background: white;
			margin: 12px 0;
			display: inline-block;
			background: #333;
			a {
				width: 100%;
				height: 100%;
				position: relative;
				display: inline-block;
				z-index: 1;
				background: $light-grey;
				color: #444444;
				font-size: 0;
				background-size: cover;
			}
		}
	}


}
// END EDITOR

@import "desktop";
@import "mobile";